# Example of using SPARQL kernel

## Intro
Only single type of kernel per notebook is supported by Jupyter at this point, so you can't easily mix data processing and SPARQL queries. Some alternatives include Gastrodon (https://github.com/paulhoule/gastrodon) and iPython SPARQL (https://github.com/baito/ipython_sparql).

## Example

In [2]:
%endpoint http://rdf-jupyter_fuseki_1:3030/cdl/sparql
%display table withtypes
%auth basic admin password

Endpoint set to: http://rdf-jupyter_fuseki_1:3030/cdl/sparql
Display: table
Show Types: on
HTTP authentication: ['basic', 'admin', 'password']

In [3]:
select ?s ?p ?o 
where
{
   ?s ?p ?o .
}

s,type,p,type,o,type
http://www.semanticweblondon.com/2,uri,http://xmlns.com/foaf/0.1/lastName,uri,Watts,"literal, None"
http://www.semanticweblondon.com/2,uri,http://xmlns.com/foaf/0.1/age,uri,36,"literal, None"
http://www.semanticweblondon.com/2,uri,http://xmlns.com/foaf/0.1/firstName,uri,Brian,"literal, None"
http://www.semanticweblondon.com/1,uri,http://xmlns.com/foaf/0.1/lastName,uri,Mason,"literal, None"
http://www.semanticweblondon.com/1,uri,http://xmlns.com/foaf/0.1/age,uri,38,"literal, None"
http://www.semanticweblondon.com/1,uri,http://xmlns.com/foaf/0.1/firstName,uri,Vicki,"literal, None"