In [1]:
import rdfpandas.graph
import pandas as pd
import rdflib

In [2]:
df = pd.DataFrame(data = {
        'http://xmlns.com/foaf/0.1/firstName': ['Vicki', 'Brian'], 
        'http://xmlns.com/foaf/0.1/lastName': ['Mason', 'Watts'], 
        'http://xmlns.com/foaf/0.1/age': [38, 36],
        }, 
        index=['http://www.semanticweblondon.com/1', 'http://www.semanticweblondon.com/2'])

graph = rdfpandas.graph.to_graph(df)

print(graph.serialize(format='turtle'))

b'@prefix ns1: <http://xmlns.com/foaf/0.1/> .\n@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .\n@prefix rdfs: <http://www.w3.org/2000/01/rdf-schema#> .\n@prefix xml: <http://www.w3.org/XML/1998/namespace> .\n@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .\n\n<http://www.semanticweblondon.com/1> ns1:age 38 ;\n    ns1:firstName "Vicki" ;\n    ns1:lastName "Mason" .\n\n<http://www.semanticweblondon.com/2> ns1:age 36 ;\n    ns1:firstName "Brian" ;\n    ns1:lastName "Watts" .\n\n'

HTTP POST to Jena goes here

In [3]:
%load_ext autotime
import sys
from os.path import expanduser
from gastrodon import RemoteEndpoint,QName,ttl,URIRef,inline
import pandas as pd
import json
pd.options.display.width=120
pd.options.display.max_colwidth=100

In [4]:
connection_data = json.loads(
"""
{
    "url":"http://rdf-jupyter_fuseki_1:3030/cdl/sparql",
    "user":"admin",
    "passwd":"password",
    "base_uri":"http://www.semanticweblondon.com/"
}
""")

time: 1.26 ms

In [5]:
endpoint=RemoteEndpoint(**connection_data)

time: 13.1 ms

In [6]:
df = endpoint.select("""
select ?s ?p ?o 
where
{
   ?s ?p ?o .
}
""")
df.head()

Empty DataFrame
Columns: [s, p, o]
Index: []

time: 1.53 s